:root
{
  
-Verydarkblue: #e8eaed;
-Darkgrayishblue: hsla(0, 0%, 51%, 0.868);
-White: hsl(0, 0%, 100%);
-Darkcyan: hsla(0, 0%, 40%, 0.849);
-color: hsl(128, 97%, 43%);

-color--btnActive: hsl(214, 82%, 51%);
-color--btntextActive: hsl(0, 0%, 96%);

-color--btnHover: #3c4043;

-color--btnSelected: hsl(216, 87%, 91%);
-color--btntextSelected: hsl(214, 82%, 51%);

--color--wr : hsl(210, 4%, 46%);
--shadow1: 5px 5px 20px hsla(0, 1%, 36%, 0.842);

--color--1: hsl(212, 100%, 50%); 
--background-color--1:  hsl(215, 63%, 82%);


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
